*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #ccf4fc;
  font-family: "Inter", sans-serif;
}

div#root{
  display:flex;
  flex-direction: column;
  align-items: center;
}
header{
  min-height: 208px;
  width: 100%;
  color: #116f9f;
  text-align: center;
  padding: 30px 20px 20px;
  box-shadow: 1px 1px 8px  #074173;
  position: relative;
}
header h1{
  color: #074173;
  margin: 0;
  font-size: 2.5rem;
}
.question-container > h2{
  text-transform: uppercase;
  font-size: 1.05rem;
  font-weight: 500;
}
.question-container > p{
  margin-top: 40px;
}
div.time-up-status{
  margin-top: 50px;
  font-size: 1.25rem;
  font-weight: 500;
}

/* Timer Styles*/
.timer-container{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #116f9f;
  background-color: white;
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timer-container > p{
  font-size: 1.5rem;
  font-weight: 500;
  color: #074173
}
.timer-container > button{
  background-color: #074173;
  height: 25px;
  width: 25px;
  color: white;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0 0 1px;
}
.timer-container > span{
  position: absolute;
  bottom: -35px;
  font-size: 0.85rem;
}

/* Option Styles */
main{
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
div.options-container > button{
  background-color: white;
  width: 100%;
  max-width:500px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  color:#116f9f;
  font-size:1rem;
  margin:0 0 20px;
  display: flex;
  align-items: center;
}
div.options-container > button:disabled{
  opacity: 0.7;
}
span.option-alphabet{
  height: 30px;
  width: 30px;
  background-color:#A8F1FF;
  color: #074173;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 30px;
  font-weight: 500;
}

div.score-container{
  height: 340px;
  background-color: white;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.score-container > h3{
  font-size: 1.5rem;
}


/* Next Button Styles */
button.next-btn, button.start-btn{
  background-color:#074173;
  color: white;
  padding: 10px 0;
  width: 100%;
  max-width:500px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 30px;
}
button.next-btn:disabled{
  opacity: 0.7;
}

@media only screen and (max-width : 550px){
  header{
    text-align: left;
    padding: 30px 30px 20px;
  }
}
